---
import BookItem from "./BookItem.astro";
import { books } from '../data/books';
---

<ul class="grid grid-cols-2 md:grid-cols-3 gap-3">
    {books.map(book => (
        <li>
            <BookItem
                id={book.id}
                title={book.title}
                img={book.img}
                author={book.author}
                opinion={book.opinion}
                urlCompra={book.urlCompra}
            />
        </li>
    ))}
</ul>
